<header>
  <!-- your navs bound to current route fragments -->
  <ul ngbNav [activeId]="route.fragment | async" class="nav-tabs">
    <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
      <a ngbNavLink [routerLink]="link.fragment">{{ link.title }}</a>
    </li>
  </ul>
</header>
<div class="container-fluid">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="fixed-bottom">
  &copy; <a href="https://me.vpv.io/" target="_blank">Venkateswara Venkatraman Prasanna</a> {{ year }}
</footer>
